<h4>Submit Issue (BUG_FIX)</h4>
<p>Select tags most relevent to the issue you wish to submit</p>

<div class="row">
        <div class="input-field col s12">
            <input id="bugfix_title" type="text" class="validate">
            <label for="bugfix_title">Issue Title</label>
        </div>
</div>
<div class="row">
        <div class="input-field col s6">
            <textarea id="bugfix_worka" type="text" class="materialize-textarea"></textarea>
            <label for="bugfix_worka">Workaround / Malfunction / Integration Error</label>
        </div>
        <div class="input-field col s6">
                <textarea id="bugfix_sol" type="text" class="materialize-textarea"></textarea>
                <label for="bugfix_sol">Bugfix / Solution<label>
        </div>
</div>
<div class="row">
        <div class="input-field col s12">
            <textarea id="bugfix_note" type="text" class="materialize-textarea"></textarea>
            <label for="bugfix_note">Note</label>
        </div>
</div>