/** Colour Scheme 

Main (Main elements, background to elements), Secondary elements, buttons/ highlights, text colour

#4abdac
#fc4a1a
#f7b733
#dfdce3
**/
html{
    background-color:#36393f;
}

aside h4{
    color:white;
}

aside h5{
    
}

.collection-container{
    display: inline-table;
    -webkit-box-shadow: -2px 2px 1px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -2px 2px 1px 0px rgba(0,0,0,0.75);
    box-shadow: -2px 2px 1px 0px rgba(0,0,0,0.75);
}

.collection-container h4 {
    color:white;
}

.collection-container h5{
    color:white;
}

#issue-list h5{
    color:black;
}

*{
    font-family: 'Roboto', sans-serif;
}

.button-list{
    list-style-type:none;
    margin:0;
    padding:0;
}

.button-list li{
    float:left;
    margin:5px;
}

header{
    background-color: #202225;
    height: 50px;
    margin-bottom: 2px !important;
}

header .title{
    color:white;
    font-size: 35px;
    text-shadow: 3px 2px 0px rgba(0,0,0,0.2);
    width: 500px;
    margin: 0px;
    float: left;
}

header .user-area{
    width: 200px;
    float: right;
    background-color:#2f3136;
}

header img{
    width:50px;
    margin: 0px;
    padding: 0px;
    width: 50px;
    float: right;
}

.repo-container{
    border-style:inset;
}